
# IDE dependent files
.gradle/
.vscode/
.idea/
.kotlin/


# Platform dependent distributions (binary distros)
build/
release/
bin/
dist/

# .bashrc environement files (by Jaehoon Song)
/venv
/ext



# custom files
/python*
_coding*/
_coding-*/
