/python-alpaca_tradebot
# /python-pdf_manager
/python-zoom_schedular
/venv
/ext




######### Customized Modification #########
.gradle/
.vscode/
.idea/
.kotlin/
build/
release/
###########################################