# IDE dependent files
.gradle/
.vscode/
.idea/
.kotlin/
/bin

# Platform dependent distributions (binary distros)
build/
release/

# .bashrc environement files (by Jaehoon Song)
/venv
/ext

# custom files
/python*