/dev.py
.env
*.tex
/images
/docs
/doc-ytube_downloader
/doc-ca_schedular
/ca_data
/audio
/downloads

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual env
venv/
